* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

header {
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    box-shadow: 0px 0px 5px 0px grey;
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 10;
}

.left {
    display: inline-block;
}

.left .logo {
    font-size: 26px;
    font-family: 'Fasthand', cursive;
    margin-left: 120px;
}

header .ul1 {
    display: inline-block;
    margin-left: 150px;
}

header .ul1 .li1 {
    display: inline-block;
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    padding: 25px 20px;
}

header .ul1 .li1 a {
    color: black;
    text-decoration: none;
}

header .ul1 .li1 a:hover {
    color: #548f6f;
}

header .ul1 .home a {
    color: #548f6f;
}

.ul1 .topic {
    position: relative;
}

.ul1 .topic .ul2 {
    position: absolute;
    height: 330px;
    width: 200px;
    top: 70px;
    left: 0px;
    /* border: 1px solid red; */
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgb(205, 205, 205);
    visibility: hidden;
    transition: all 0.2s linear;
    transform: rotateX(60deg);
}

.ul1 .topic .ul2 li {
    list-style: none;
    padding: 10px 20px;
    cursor: pointer;
}

.li1:hover .ul2 {
    visibility: visible;
    transform: rotateX(0deg);
}

.ul1 .topic .ul2 li:hover {
    color: #548f6f;
}

.addbtn {
    display: inline-block;
    height: 32px;
    width: 92px;
    margin-left: 130px;
    position: relative;
    overflow: hidden;
}

.addbtn a {
    position: absolute;
    text-decoration: none;
    color: #548f6f;
    border: 2px solid #548f6f;
    font-size: 14px;
    font-weight: bold;
    padding: 4px 9px;
}

.addbtn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: -95px;
    background-color: #548f6f;
    z-index: -1;
    transition: all 0.3s linear;
}

.addbtn:hover::before {
    left: 0%;
}

.addbtn:hover span {
    color: white;
}

.headicons {
    display: inline-block;
    /* border: 1px solid red; */
    margin-left: 150px;
}

.headicons i {
    font-size: 22px;
    color: black;
    padding: 20px 10px;
    /* border: 1px solid blueviolet; */
    cursor: pointer;
}

.headicons i:hover {
    color: #548f6f;
}


/* ----------search box------------ */

.search {
    position: relative;
}

.search .searchdiv {
    position: absolute;
    /* border: 1px solid red; */
    top: 65px;
    left: -240px;
    height: 50px;
    width: 260px;
    visibility: hidden;
    transition: all 0.2s linear;
    transform: rotateX(60deg);
}

.search:hover .searchdiv {
    visibility: visible;
    transform: rotateX(0deg);
}

.searchdiv input {
    height: 40px;
    width: 250px;
    margin: 5px;
    border: 2px solid #548f6f;
    outline: none;
    font-size: 16px;
    border-radius: 18px;
    padding: 0px 0px 0px 10px;
}

.searchdiv .search_i i {
    position: absolute;
    top: 9px;
    right: 9px;
    font-size: 16px;
    color: white;
    padding: 8px;
    border-radius: 50%;
    background-color: #548f6f;
}

.searchdiv .cancle_i i {
    position: absolute;
    top: -7px;
    right: -35px;
    font-size: 22px;
    color: #548f6f;
}


/* ---------Follow box------------ */

.follow,
.msg,
.bell {
    position: relative;
}

.follow .followmain,
.msg .msg2,
.bell .bell2 {
    position: absolute;
    top: 65px;
    left: -350px;
    height: 465px;
    width: 400px;
    /* border: 1px solid red; */
    background-color: white;
    box-shadow: 0px 0px 7px 0px rgb(205, 205, 205);
    border-radius: 10px;
    visibility: hidden;
    transition: all 0.2s linear;
    transform: rotateX(60deg);
}

.follow:hover .followmain,
.msg:hover .msg2,
.bell:hover .bell2 {
    visibility: visible;
    transform: rotateX(0deg);
}

.follow .followmain h6,
.msg .msg2 h6,
.bell .bell2 h6 {
    font-size: 14px;
    color: #686868;
    padding: 10px 15px;
    display: inline-block;
}

.follow .followmain i {
    display: inline-block;
    color: #686868;
    font-size: 16px;
    margin-left: 240px;
}

.follow1,
.person1,
.not1 {
    /* border: 1px solid red; */
    height: 70px;
    background-color: rgb(255, 249, 249);
    border-top: 1px solid rgb(169, 169, 169);
    border-bottom: 1px solid rgb(169, 169, 169);
    position: relative;
}

.follow1 .fimg,
.person1 .pimg,
.not1 .notimg {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 15px 15px;
    display: inline-block;
}

.follow1 .fimg img,
.person1 .pimg img,
.not1 .notimg img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.follow1 .followp1 {
    position: absolute;
    display: inline-block;
    font-size: 16px;
    color: black;
    font-weight: bold;
    top: 18px;
    left: 70px;
}

.follow1 .followp1 #f1name {
    color: #686868;
    font-size: 14px;
    font-weight: lighter;
}

.follow1 .followp2 {
    position: absolute;
    top: 40px;
    left: 70px;
    color: #686868;
    font-size: 14px;
}

.follow1 .followbtn {
    position: absolute;
    top: 35px;
    left: 200px;
}

.follow1 .followbtn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #548f6f;
    font-size: 14px;
    font-weight: bold;
    padding: 0px 15px;
    border-radius: 5px;
}

.follow1 .blockbtn {
    position: absolute;
    top: 35px;
    left: 315px;
}

.follow1 .blockbtn a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: rgb(171, 171, 171);
    font-size: 14px;
    font-weight: bold;
    padding: 0px 15px;
    border-radius: 5px;
}

.followmain .follow_list,
.msg2 .messages,
.bell2 .notifications {
    margin-top: 15px;
    text-align: center;
}

.followmain .follow_list a,
.msg2 .messages a,
.bell2 .notifications a {
    text-decoration: none;
    width: 100%;
    border: 2px solid #548f6f;
    color: #548f6f;
    text-align: center;
    font-size: 16px;
    padding: 10px 80px 10px 80px;
    border-radius: 25px;
}

.follow_list a:hover,
.messages a:hover,
.notifications a:hover {
    background-color: #548f6f;
    color: white;
}


/* ---------message box------------ */

.msg .msg2 .p1 {
    display: inline-block;
    font-size: 14px;
    color: black;
    margin-left: 130px;
}

.msg .msg2 i {
    display: inline-block;
    color: gray;
    font-size: 16px;
    margin-left: 15px;
}

.person1 {
    /* border: 1px solid red; */
    height: 70px;
    background-color: rgb(255, 249, 249);
    border-top: 1px solid rgb(169, 169, 169);
    position: relative;
}

.person1 .p1name {
    font-size: 16px;
    color: black;
    font-weight: bold;
    position: absolute;
    top: 18px;
    left: 70px;
}

.person1 .p1msg {
    font-size: 14px;
    color: rgb(49, 49, 49);
    position: absolute;
    top: 38px;
    left: 70px;
}

.person1 .p1time {
    position: absolute;
    color: grey;
    top: 16px;
    right: 10px;
    font-size: 16px;
}


/* ---------notification------------ */

.bell .bell2 .bellp1 {
    display: inline-block;
    font-size: 14px;
    color: black;
    margin-left: 110px;
}

.bell .bell2 i {
    display: inline-block;
    color: gray;
    font-size: 16px;
    margin-left: 15px;
}

.not1 .notp1 {
    position: absolute;
    font-size: 16px;
    color: black;
    font-weight: bold;
    top: 18px;
    left: 70px;
}

.not1 .notp2 {
    position: absolute;
    font-size: 14px;
    color: rgb(49, 49, 49);
    top: 20px;
    left: 208px;
}

.not1 .notp3 {
    position: absolute;
    color: #686868;
    top: 40px;
    left: 70px;
    font-size: 14px;
}

.not1 .notp4 {
    position: absolute;
    left: 152px;
}

.not1 .notp5 {
    position: absolute;
    left: 165px;
}

.not1 .notp6 {
    position: absolute;
    left: 217px;
}


/* -----------profile dropdown------------ */

.profile {
    display: inline-block;
    font-size: 40px;
    /* border: 1px solid rebeccapurple; */
    padding: 12px 10px;
    cursor: pointer;
    position: relative;
}

.profile:hover {
    color: #548f6f;
}

.profile .prodropdown {
    position: absolute;
    top: 65px;
    left: -145px;
    height: 325px;
    width: 200px;
    background-color: white;
    box-shadow: 0px 0px 7px 1px rgb(205, 205, 205);
    transition: all 0.2s linear;
    transform: rotateX(60deg);
    visibility: hidden;
}

.profile .prodropdown .proul {
    /* border: 1px solid red; */
    color: black;
    cursor: pointer;
    margin-top: 10px;
}

.profile .prodropdown .proul .proli {
    list-style: none;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 20px;
}

.profile .prodropdown .proul .proli i {
    font-size: 14px;
    padding: 0px 10px 0px 0px;
}

.profile .prodropdown .proul .proli:hover {
    color: #548f6f;
}

.profile:hover .prodropdown {
    visibility: visible;
    transform: rotateX(0deg);
}


/* -------------banner------------  */


#banner {
    height: 650px;
    width: 100%;
    position: relative;
    z-index: -1;
}

#banner img {
    position: absolute;
    height: 100%;
    width: 100%;
}

#banner .bannerh1 {
    position: absolute;
    top: 300px;
    left: 100px;
    letter-spacing: 2px;
    color: white;
    font-size: 42px;
    line-height: 60px;
}

#banner .bancon {
    position: absolute;
    top: 450px;
    left: 100px;
    /* border: 1px solid red; */
    display: flex;
    color: white;
}

#banner .bancon i {
    font-size: 16px;
    margin: 3px 10px 10px 0px;
}

#banner .bancon .ban1 {
    font-size: 16px;
}

#banner .bancon .bar {
    margin: 2px 20px 0px 20px;
}



/* ---------popular stories-------- */

#sec2 {
    width: 100%;
    padding: 80px 0px 40px 0px;
    /* border: 1px solid red; */
}

#sec2 .s2h2 {
    font-size: 32px;
    font-family: 'Kalam', cursive;
    margin-left: 120px;
    font-style: italic;
}

#sec2 .s2h2 .s2span {
    color: #548f6f;
    font-family: 'Kalam', cursive;
}

#sec2 .blog1 {
    box-shadow: 0px 0px 7px 1px rgb(205, 205, 205);
    height: 300px;
    width: 1300px;
    margin: 25px auto;
    border-radius: 5px;
    position: relative;
}

#sec2 .blog1 .blogimg {
    position: absolute;
    height: 300px;
    width: 450px;
    border-top-left-radius: 5px;
    border-end-start-radius: 5px;
    overflow: hidden;
}

#sec2 .blog1 .blogimg img {
    height: 100%;
    width: 100%;
}

#sec2 .blog1 .blogimg img:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}

#sec2 .blog1 .blogimg2 {
    position: absolute;
    height: 46px;
    width: 46px;
    top: 30px;
    left: 480px;
    border-radius: 50%;
}

#sec2 .blogp1 {
    position: absolute;
    top: 30px;
    left: 540px;
    font-size: 18px;
    font-weight: bold;
}

#sec2 .blogp2 {
    position: absolute;
    top: 55px;
    left: 540px;
    font-size: 14px;
    color: #686868;
}

/* ----follow and message buttons---- */

#sec2 .blog1 .blogbtn {
    position: absolute;
    top: 35px;
    right: 30px;
    display: flex;
}

.addfriend {
    height: 32px;
    width: 102px;
    border: 2px solid #548f6f;
    margin: 0px 20px;
    position: relative;
    overflow: hidden;
}

.addfriend a {
    position: absolute;
    text-decoration: none;
    color: #548f6f;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 28px;
}

.addfriend::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: -100px;
    background-color: rgb(134, 221, 173);
    z-index: -1;
    transition: all 0.2s linear;
}

.addfriend::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    left: -100px;
    background-color: #548f6f;
    z-index: -1;
    transition: all 0.5s linear;
}

.addfriend:hover::before,
.addfriend:hover::after {
    left: 0%;
}

.addfriend:hover a span {
    color: white;
}

.messagebtn {
    height: 32px;
    width: 102px;
    border: 2px solid #548f6f;
    position: relative;
    overflow: hidden;
}

.messagebtn a {
    position: absolute;
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: bold;
    padding: 5px 20px;
}

.messagebtn::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    background-color: rgb(134, 221, 173);
    z-index: -1;
    transition: all 0.5s linear;
}

.messagebtn::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0px;
    right: 0px;
    background-color: #548f6f;
    z-index: -1;
    transition: all 0.3s linear;
}

.messagebtn:hover::before,
.messagebtn:hover::after {
    right: -100%;
}

.messagebtn:hover a span {
    color: #548f6f;
}

#sec2 .blogp3 {
    position: absolute;
    top: 90px;
    left: 480px;
    font-size: 22px;
    font-weight: 600;
}

#sec2 .blogp4 {
    position: absolute;
    top: 130px;
    left: 480px;
    width: 800px;
    line-height: 25px;
    color: #686868;
}

#sec2 .blogp5 {
    position: absolute;
    bottom: 25px;
    left: 480px;
    border: 2px solid #548f6f;
    padding: 5px 20px;
    border-radius: 20px;
    font-weight: 500;
}

#sec2 .blogp5 a {
    text-decoration: none;
    color: #548f6f;
    transition: all 0.2s linear;
}

.blogp5:hover {
    background-color:#548f6f;
}

.blogp5:hover span {
    color: white;
}

.sharebtn {
    position: absolute;
    bottom: 25px;
    left: 620px;
}

.sharebtn .allbtns {
    height: 34px;
    width: 180px;
    background: #dfe6e9;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    transition: all 0.3s linear;
}

.sharebtn .allbtns .sharebtnspan {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #548f6f;
    color: #f1f1f1;
    text-align: center;
    padding: 5px;
    border-radius: 40px;
    z-index: 2;
    transition: all 0.6s linear;
}

.sharebtn .allbtns .sharebtnspan i {
    font-size: 14px;
}

.sharebtn .allbtns:hover .sharebtnspan {
    transform: translateX(-100%);
    transition-delay: 0.3s;
}

.sharebtn .allbtns a {
    flex: 1;
    font-size: 14px;
    color: #548f6f;
    text-align: center;
    transform: translateX(-100%);
    opacity: 0;
    transition: all 0.3s linear;
}

.sharebtn .allbtns:hover a {
    opacity: 1;
    transform: translateX(0);
}

.allbtns a:nth-of-type(1) {
    transition-delay: 1s;
}

.allbtns a:nth-of-type(2) {
    transition-delay: 0.8s;
}

.allbtns a:nth-of-type(3) {
    transition-delay: 0.6s;
}

.allbtns a:nth-of-type(4) {
    transition-delay: 0.4s;
}


/* -------weekly best-------- */

#sec3 {
    width: 100%;
    padding: 0px 100px 580px 100px;
    /* border: 1px solid red; */
}

#sec3 .s3h2 {
    font-size: 32px;
    font-family: 'Fasthand', cursive;
    margin-left: 0px;
    margin-bottom: 40px;
}

#sec3 .s3h2 .s3span {
    color: #548f6f;
}

/* sec-3 left-side div  */

#sec3 .s3div1 {
    position: relative;
    float: left;
    width: 49%;
    height: 558px;
    box-shadow: 0px 0px 7px 1px rgb(205, 205, 205);
    border-radius: 5px;
}

#sec3 .s3div1 .s3div1img {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 60%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

#sec3 .s3div1 .s3div1img img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

#sec3 .s3div1 .s3div1img img:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}

#sec3 .s3div1 .s3p1 {
    position: absolute;
    top: 360px;
    left: 30px;
    font-size: 13px;
    font-weight: 400;
    color: #686868;
}

#sec3 .s3div1 .s3p1 i {
    font-size: 8px;
    padding: 10px;
    color: #548f6f;
}

#sec3 .s3div1 .s3p2 {
    position: absolute;
    top: 390px;
    left: 30px;
    font-size: 24px;
    font-weight: bold;
    width: 595px;
    margin-top: 5px;
}

#sec3 .s3div1 .s3p3 {
    position: absolute;
    top: 460px;
    left: 30px;
    width: 590px;
    line-height: 25px;
    color: rgb(104, 104, 104);
    margin-top: 10px;
}

#sec3 .s3div2 {
    position: relative;
    width: 49%;
    float: right;
    height: 555px;
    /* border: 1px solid red; */
}

#sec3 .s3div2 .s3div3,
#sec3 .s3div2 .s3div5 {
    display: flex;
    height: 48.50%;
    justify-content: space-between;
}

#sec3 .s3div2 .s3div3 .s3div4 {
    height: 100%;
    width: 48.50%;
    /* border: 1px solid purple; */
    box-shadow: 0px 0px 7px 1px rgb(205, 205, 205);
    border-radius: 5px;
    position: relative;
}

#sec3 .s3div2 .s3div5 .s3div6 {
    height: 100%;
    width: 48.50%;
    /* border: 1px solid purple; */
    box-shadow: 0px 0px 7px 1px rgb(205, 205, 205);
    border-radius: 5px;
    position: relative;
    margin-top: 20px;
}

#sec3 .s3div2 .s3div3 .s3div4 .s3d4img,
#sec3 .s3div2 .s3div5 .s3div6 .s3d6img {
    position: absolute;
    height: 60%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

#sec3 .s3div2 .s3div3 .s3div4 .s3d4img img,
#sec3 .s3div2 .s3div5 .s3div6 .s3d6img img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

#sec3 .s3div2 .s3div3 .s3div4 .s3d4img img:hover,
#sec3 .s3div2 .s3div5 .s3div6 .s3d6img img:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}

#sec3 .s3div2 .s3div3 .s3div4 .s3p4,
#sec3 .s3div2 .s3div5 .s3div6 .s3p6 {
    position: absolute;
    bottom: 75px;
    left: 20px;
    font-size: 13px;
    color: #686868;
}

#sec3 .s3div2 .s3div3 .s3div4 .s3p4 i,
#sec3 .s3div2 .s3div5 .s3div6 .s3p6 i {
    font-size: 6px;
    padding: 0px 10px;
    color: #548f6f;
}

#sec3 .s3div2 .s3div3 .s3div4 .s3p5,
#sec3 .s3div2 .s3div5 .s3div6 .s3p7 {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 18px;
    font-weight: 600;
    width: 270px;
}

/* -------sec-4--------- */

/* #sec4 {
    border: 1px solid rgb(45, 0, 248);
} */

#sec4 .s4d1 {
    /* border: 1px solid lightcoral; */
    display: flex;
    justify-content: space-between;
    padding: 0px 100px;
}

#sec4 .s4d1 .s4d2 {
    height: 352px;
    width: 420px;
    box-shadow: 0px 0px 7px 1px rgb(210, 210, 210);
    border-radius: 5px;
}

#sec4 .s4d1 .s4d2 .s4d3 {
    height: 65%;
    width: 100%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    overflow: hidden;
}

#sec4 .s4d1 .s4d2 .s4d3 img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

#sec4 .s4d1 .s4d2 .s4d3 img:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}

#sec4 .s4d1 .s4d2 .s4p1 {
    font-size: 13px;
    margin-left: 30px;
    margin-top: 20px;
    color: #686868;
}

#sec4 .s4d1 .s4d2 .s4p1 i {
    font-size: 6px;
    padding: 0px 10px;
    color: #548f6f;
}

#sec4 .s4d1 .s4d2 .s4p2 {
    font-size: 18px;
    font-weight: 600;
    width: 360px;
    margin-left: 30px;
    margin-top: 10px;
}


/* --------inspiration article-------- */

#sec5 {
    /* border: 1px solid rgb(22, 153, 101); */
    margin-top: 100px;
}

#sec5 .s5h2 {
    margin-bottom: 40px;
    font-size: 32px;
    font-family: 'kalam', cursive;
    font-style: italic;
    margin-left: 100px;
}

#sec5 .s5h2 .s5span {
    color: #548f6f;
}

#sec5 .sec5head {
    display: flex;
}

.sec5nav {
    border: 2px solid #548f6f;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 560px;
    border-radius: 50px;
}

#sec5 .sec5head .sec5nav .s5ul .s5li {
    list-style: none;
    display: inline-block;
    padding: 5px 20px;
    margin: 5px;
    font-weight: 500;
    color: #548f6f;
    cursor: pointer;
    position: relative;
    z-index: 2;
}

#sec5 .sec5head .sec5nav .s5ul .s5li::after {
    content: "";
    position: absolute;
    background: #548f6f;
    height: 100%;
    width: 100%;
    border-radius: 30px;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    opacity: 0;
    transition: top 0.5s, opacity 0.5s;
}

#sec5 .sec5head .sec5nav .s5ul .s5li:hover {
    color: white;
}

#sec5 .sec5head .sec5nav .s5ul .s5li:hover::after {
    top: 50%;
    opacity: 1;
}


/* ----sec-5 left part----- */

#sec5 .s5container {
    display: flex;
}

#sec5 .s5left {
    display: flex;
    flex-direction: column;
    width: 56%;
    /* border: 1px solid darkblue; */
    margin-left: 100px;
}

#sec5 .s5left .s5img1 {
    height: 480px;
    width: 100%;
    /* border: 1px solid red; */
    background-color: black;
    border-radius: 5px;
    position: relative;
}

#sec5 .s5left .s5img1 img {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.5;
    border-radius: 5px;
    background-size: cover;
}

#sec5 .s5left .s5img1 .s5p1 {
    position: absolute;
    top: 180px;
    left: 160px;
    font-size: 36px;
    width: 510px;
    font-weight: 600;
    color: white;
    text-align: center;
}

#sec5 .s5left .s5img1 .s5p2 {
    position: absolute;
    bottom: 160px;
    left: 127px;
    font-size: 15px;
    width: 550px;
    color: rgb(212, 212, 212);
    text-align: center;
}

#sec5 .s5left .s5img1 .s5p2 .bar {
    padding: 0px 0px 0px 20px;
}

#sec5 .s5left .s5img1 .s5p2 .s5i {
    padding: 0px 20px;
}

#sec5 .s5left .s5b1 {
    height: 190px;
    width: 100%;
    margin: 20px 0px 0px 0px;
    /* border: 1px solid rebeccapurple; */
    box-shadow: 0px 0px 7px 1px rgb(205, 205, 205);
    border-radius: 5px;
}

#sec5 .s5left .s5b1 .s5img2 {
    float: left;
    height: 190px;
    width: 250px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    overflow: hidden;
}

#sec5 .s5left .s5b1 .s5img2 img {
    height: 100%;
    width: 100%;
}

#sec5 .s5left .s5b1 .s5img2 img:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}

#sec5 .s5left .s5b1 .s5b2 .s5p3 {
    font-size: 13px;
    color: #686868;
    margin: 30px 0px 0px 280px;
}

#sec5 .s5left .s5b1 .s5b2 .s5p3 i {
    font-size: 6px;
    padding: 10px;
    color: #548f6f;
}

#sec5 .s5left .s5b1 .s5b2 .s5p4 {
    font-size: 22px;
    font-weight: 600;
    margin-left: 280px;
    margin-top: 10px;
    width: 540px;
    letter-spacing: 1px;
}

#sec5 .s5left .s5b1 .s5b2 .s5b3 {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    float: left;
}

#sec5 .s5left .s5b1 .s5b2 .s5b3 .s5viewp {
    margin-left: 30px;
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #548f6f;
}

#sec5 .s5left .s5b1 .s5b2 .s5b3 .s5viewp .s5arrow {
    font-size: 16px;
    margin-left: 5px;
    position: relative;
    z-index: 1;
}

#sec5 .s5left .s5b1 .s5b2 .s5b3 .s5viewp .s5arrow::after {
    position: absolute;
    content: "";
    top: -5px;
    left: -85px;
    border: 1px solid rgb(169, 169, 169);
    width: 24px;
    height: 24px;
    border-radius: 50%;
    z-index: -1;
    transition: all 0.55s linear;
}

#sec5 .s5left .s5b1 .s5b2 .s5b3 .s5viewp:hover .s5arrow {
    margin-left: 15px;
    transition: all 0.55s linear;
}

#sec5 .s5left .s5b1 .s5b2 .s5b3 .s5viewp:hover .s5arrow::after {
    left: -6px;
}

#sec5 .s5left .s5b1 .s5b2 .s5span {
    float: right;
    margin-top: 20px;
    margin-right: 30px;
    font-size: 13px;
    color: #686868;
}


/* ----sec-5 Right part----- */

#sec5 .s5right {
    display: flex;
    flex-direction: column;
    width: 42%;
    /* border: 1px solid darkblue; */
    margin-right: 100px;
    margin-left: 20px;
    background-color: #f6f6f6;
    border-radius: 5px;
}

#sec5 .s5right .s5img3 {
    position: relative;
    margin: 10px;
    height: 280px;
    width: 455px;
    background-size: cover;
    background-color: black;
    overflow: hidden;
}

#sec5 .s5right .s5img3 img {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.6;
}

#sec5 .s5right .s5img3 img:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}

#sec5 .s5right .s5img3 .s5p5 {
    position: absolute;
    color: white;
    top: 148px;
    left: 30px;
    font-size: 14px;
}

#sec5 .s5right .s5img3 .s5p6 {
    position: absolute;
    bottom: 40px;
    left: 30px;
    color: white;
    font-size: 24px;
    width: 390px;
}

#sec5 .s5right .s5blog1 {
    /* border: 1px solid red; */
    height: 140px;
    width: 100%;
}

#sec5 .s5right .s5blog1 .s5circle {
    height: 75px;
    width: 75px;
    border: 1px solid gray;
    border-radius: 50%;
    margin: 32.5px 20px 32.5px 20px;
    float: left;
}

#sec5 .s5right .s5blog1 .s5circle .s5p7 {
    font-size: 20px;
    font-weight: bold;
    margin: 15px 0px 0px 25px;
    color: #686868;
}

#sec5 .s5right .s5blog1 .s5circle .s5p8 {
    font-size: 10px;
    margin: 0px 0px 0px 12px;
    color: #686868;
}

#sec5 .s5right .s5blog1 .s5p9 {
    margin: 30px 0px 0px 10px;
    font-size: 13px;
    color: #548f6f;
    font-weight: 500;
}

#sec5 .s5right .s5blog1 .s5p10 {
    margin: 10px 0px 0px 10px;
    font-size: 18px;
    font-weight: 600;
    width: 450px;
}

#sec5 .s5right .s5blog1:hover .s5p7,
#sec5 .s5right .s5blog1:hover .s5p8 {
    color: black;
}

#sec5 .s5right .s5blog1:hover .s5circle {
    border: 1px solid black;
}

#sec5 .s5right .horizontal {
    width: 96%;
    height: 1px;
    border: 1px solid rgb(168, 168, 168);
    margin-left: 2%;
}


/* ------trending news---- */

#sec6 {
    /* border: 1px solid red; */
    margin-top: 100px;
}

#sec6 .s6h2 {
    margin-bottom: 40px;
    font-size: 32px;
    font-family: 'kalam', cursive;
    font-style: italic;
    margin-left: 100px;
}

#sec6 .s6h2 .s6span {
    color: #548f6f;
}

#sec6 .s6d1 {
    display: flex;
}

#sec6 .s6d1 .s6circle {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid rgb(169, 169, 169);
    margin: 10px 0px 0px 1000px;
}

#sec6 .s6d1 .s6circle i {
    font-size: 18px;
    color: #548f6f;
    padding: 5px 0px 5px 0px;
}

#sec6 .s6d1 .s6circle:hover i {
    padding: 5px 0px 5px 5px;
    transition: all 0.2s linear;
} 

#sec6 .s6d1 .s6circle2 {
    height: 32px;
    width: 32px;
    border-radius: 50%;
    border: 2px solid rgb(169, 169, 169);
    margin: 10px 0px 0px 10px;
}

#sec6 .s6d1 .s6circle2 i {
    font-size: 18px;
    color: #548f6f;
    padding: 5px 0px 5px 12px;
}

#sec6 .s6d1 .s6circle2:hover i {
    padding: 5px 0px 0px 6px;
    transition: all 0.2s linear;
} 

#sec6 .s6d2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 100px;
}

#sec6 .s6d2 .s6d3 {
    /* border: 1px solid darkcyan; */
    height: 330px;
    width: 315px;
}

#sec6 .s6d2 .s6d3 .s6d4 {
    width: 100%;
    height: 206px;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgb(168, 168, 168);
}

#sec6 .s6d2 .s6d3 .s6d4 img {
    position: absolute;
    height: 100%;
    width: 100%;
    background-size: cover;
}

#sec6 .s6d2 .s6d3 .s6d4 img:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}

#sec6 .s6d2 .s6d3 .s6d4 .s6p1 {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 12px;
    font-weight: 600;
    color: #548f6f;
    background-color: white;
    padding: 10px 20px;
}

#sec6 .s6d2 .s6d3 .s6p2 {
    font-size: 13px;
    font-weight: 600;
    color: #686868;
    margin: 20px 20px 10px 20px;
}

#sec6 .s6d2 .s6d3 .s6p2 .s6span {
    color: #548f6f;
}

#sec6 .s6d2 .s6d3 .s6p3 {
    font-size: 20px;
    font-weight: 600;
    margin: 0px 20px;
}

#sec6 .s6d2 .s6d3 .s6d5 {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    border-bottom: 1px solid rgb(168, 168, 168);
}

#sec6 .s6d2 .s6d3 .s6d5 img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

#sec6 .s6d2 .s6d3 .s6d5 img:hover {
    transform: scale(1.1);
    transition: all 0.2s linear;
}

#sec6 .s6d2 .s6d3 .s6d5 .s6p4 {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 12px;
    font-weight: 600;
    color: #548f6f;
    background-color: white;
    padding: 10px 20px;
}

#sec6 .s6d2 .s6d3 .s6d5 .s6p5 {
    position: absolute;
    bottom: 80px;
    left: 0px;
    font-size: 13px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin: 20px 20px 10px 20px;
}

#sec6 .s6d2 .s6d3 .s6d5 .s6p5 .s6span {
    color: #548f6f;
}

#sec6 .s6d2 .s6d3 .s6d5 .s6p6 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    color: white;
    font-size: 20px;
    font-weight: 600;
    margin: 20px 20px 20px 20px;
}

/* -----------about us----------- */

#sec7 {
    /* border: 1px solid red; */
    margin: 0px 100px 0px 100px;
    padding-top: 100px;
}

#sec7 .s7p1 {
    font-family: kalam, cursive;
    font-size: 24px;
    font-weight: 600;
    color: #548f6f;
}

#sec7 .s7p2 {
    font-size: 30px;
    font-weight: bolder;
    word-spacing: 4px;
    margin: 10px 0px;
}

#sec7 .s7flex {
    display: flex;
    justify-content: space-between;
}
#sec7 .s7flex .s7left,
#sec7 .s7flex .s7right {
    width: 49.25%;
    /* border: 1px solid rebeccapurple; */
}

#sec7 .s7flex .s7left .s7p3 {
    color: #686868;
    font-weight: 500;
    letter-spacing: 0.03em;
    line-height: 30px;
}

#sec7 .s7flex .s7left .s7img1 {
    margin-top: 40px;
    width: 563px;
    height: 296px;
}

#sec7 .s7flex .s7left .s7img1 img {
    height: 100%;
    width: 100%;
    background-size: cover;
}


/* sec-7 right part-- */

#sec7 .s7right {
    width: 49.25%;
    /* border: 1px solid mediumorchid; */
}

#sec7 .s7right .s7img2 {
    width: 648px;
    height: 350px;
    margin-top: 40px;
}

#sec7 .s7right .s7img2 img {
    height: 100%;
    width: 100%;
    background-size: cover;
}

#sec7 .s7right .s7icons {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
}

#sec7 .s7right .s7icons .s7i {
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
}

#sec7 .s7right .s7icons .s7i i {
    font-size: 45px;
    color: #548f6f;
    margin-bottom: 10px;
}

#sec7 .s7right .s7icons .s7i .s7p4 {
    font-size: 30px;
    font-weight: 600;
}

#sec7 .s7right .s7icons .s7i .s7p5 {
    font-size: 15px;
    color: #686868;
}


/* ---------footer---------- */

footer {
    margin-top: 100px;
    width: 100%;
    border: 1px solid #f2f2de;
    background-color: #f2f2de;
}

footer .fdiv1 {
    margin: 80px 100px 40px 100px;
    display: flex;
    justify-content: space-between;
}

footer .fdiv1 .fdiv2 span {
    color: #548f6f;
}

footer .fdiv1 .fdiv2 .email {
    display: flex;
    border-bottom: 2px solid #686868;
}

.email input[type=email] {
    width: 240px;
    border: none;
    margin-left: 15px;
    background-color: #f2f2de;
}

footer .fdiv1 .fdiv2 .email .send {
    font-size: 13px;
    text-decoration: underline;
    font-weight: 600;
}


/* ---footer section-2--- */

footer .fdiv1 .fdiv2 .bothblogs {
    display: flex;
    flex-direction: column;
}

footer .fdiv1 .fdiv2 .bothblogs  .fblogs {
    margin-top: 18px;
}

footer .fdiv1 .fdiv2 .bothblogs  .fblog2 {
    margin-top: 30px;
}

footer .fdiv1 .fdiv2 .fbl1 {
    height: 68px;
    width: 100px;
    float: left;
}

footer .fdiv1 .fdiv2 .fbl1 img {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

/* -----footer section-3---- */

footer .fdiv1 .fdiv3 {
    display: flex;
    flex-direction: column;
    /* border: 1px solid fuchsia; */
}

footer .fdiv1 .fdiv3 .ful {
    list-style: none;
}

footer .fdiv1 .fdiv3 .ful li {
    margin: 14px 0px 0px 0px;
    font-size: 16px;
    cursor: pointer;
}

footer .fdiv1 .fdiv3 .ful li a {
   text-decoration: none;
   color: #686868;
}

footer .fdiv1 .fdiv3 .ful li:hover .ful {
    color: black;
}

footer .fdiv1 .fdiv3 .ful li a:hover {
    list-style:circle;
    color: black;
    margin-left: 10px;
    transition: all 0.2s linear;
}


/* ----footer section-4---- */

footer .fdiv1 .fdiv4 .socialul {
    list-style: none;
}

footer .fdiv1 .fdiv4 .socialul li {
    margin-top: 14px;
}

footer .fdiv1 .fdiv4 .socialul li a {
    text-decoration: none;
    color: #686868;
    display: flex;
    align-items: center;
}

footer .fdiv1 .fdiv4 .socialul li a .ficons {
    border: 1px solid #686868;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}

footer .fdiv1 .fdiv4 .socialul .ficons i {
    font-size: 14px;
    padding: 7px 8px;
}

footer .fdiv1 .fdiv4 .socialul li a p {
    color: #686868;
    margin-left: 10px;
}

footer .fdiv1 .fdiv4 .socialul li a:hover {
    color: #548f6f;
}

footer .fdiv1 .fdiv4 .socialul li a:hover .ficons {
    border: 1px solid #548f6f;
}

.backtotop a {
    color: #548f6f;
    font-size: 20px;
    padding: 7px 12px;
    border-radius: 50%;
    border: 1px solid #548f6f;
    margin-left: 1380px;
} 

footer .footerhline {
    margin: 20px 100px 0px 100px;
    border: 1px solid #c1c1c1;
}

footer .footerhline2 {
    margin: 0px 100px 0px 100px;
    border: 1px solid #c1c1c1;
}

footer .help {
    display: flex;
}

footer .help h1 {
    font-size: 18px;
    color: #548f6f;
    margin: 14px 100px;
}

footer .help .help-p {
    font-size: 12px;
    color: #686868;
    display: flex;
    margin-left: 745px;
}

footer .help .help-p p {
    padding: 20px 10px;
}

footer .copy {
    font-size: 12px;
    text-align: center;
    margin: 10px 0px;
    color: #929292;
}